.full-bg {
  
    background-image: url('../images/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    height: 100vh;
    
}

.rounded-circle-border {
    border-radius: 50%;
    border: 3px solid #ccc;
    overflow: hidden;
    width: 300px;
    height: auto;
    }
.col-md-4 {
    color: whitesmoke;
 } 
 
 .three-d-paragraph {
    perspective: 1000px;
    transform: translateY(65px);
  }

  .text {
    transform: rotateY(30deg);
    transform-style: preserve-3d;
  }

  .text2 {
   transform-style: preserve-3d;
  }

  .footer {
  justify-content: center;  
  margin-top: 44px;
  color: whitesmoke;
  }

  .hover-shadow {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding box shadow on hover */
  }